.coin-box {
  background-color: rgba(34, 23, 6, 0.478);
  width: 300px;
  height: 300px;
  border-radius: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 2rem;
  cursor: pointer;
}

.coin-box:hover {
  border: 2px solid var(--green) !important;
}

.box-red {
  background-color: rgba(34, 23, 6, 0.478);
  width: 300px;
  height: 300px;
  border-radius: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 2rem;
  cursor: pointer;
}

.box-red:hover {
  border: 2px solid var(--red);
}

.logo-div {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}

.logo {
  width: 20%;
  margin-right: 1rem;
}

.symbol {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-transform: uppercase;
}

.name {
  font-size: 0.8rem;
  opacity: 0.8;
  margin-top: 0.2rem !important;
}

.chip {
  padding: 0.5rem 1rem;
  border: 2px solid var(--green);
  border-radius: 2rem;
  margin: 1.5rem 0rem;
  font-weight: 600;
}

.chip p {
  margin: 0;
}

.chip-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.trending-icon {
  border: 2px solid var(--green);
  border-radius: 50%;
  padding: 0.35rem;
  color: var(--green);
  font-size: 2.5rem !important;
}

.chip:hover,
.trending-icon:hover {
  background-color: var(--green);
  color: var(--white) !important;
  transition: all 0.3s;
}

.red {
  color: var(--red);
  border-color: var(--red);
}

.red:hover {
  background-color: var(--red);
  color: var(--white) !important;
  border-color: var(--red);
  transition: all 0.3s;
}

.price {
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--green);
  margin-top: 0;
}

.price-red {
  color: var(--red);
}

.sub-heading {
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  .coin-box,
  .box-red {
    width: 100%;
    align-items: center;
  }
  .logo-div {
    justify-content: center;
    margin-left: -2rem;
  }
  .logo {
    max-width: 50px;
  }
}
